body {
    height: 100%;
    margin: 0; 
    margin-top:45px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background:#060c21;
    align-items: center;
}

.hero{
    background-image: linear-gradient(#e66465, #9198e5), url("maxresdefault.jpg");
    flex: 0.3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 0 30px;
  }

.texto{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.texto .a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#remain{
    
    border-style: solid red 1px;
    background-color:#060c21;
    width:90%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 0 40px;
    grid-template-rows: auto;
}

#navigation{
    flex:0.1;
    height:45px;
    background-color:#333;
    width: 100%;
    z-index:100;
}



li {
    display: inline;
    padding-inline-start: 15%;
    background-color: #333;
  }

a{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}  

#proy1 {
   position: relative;
   height: 400px;
   background-image: url("descarga.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #000;
}

#proy2 {
    position: relative;
    height: 400px;
    background-image: url("descarga\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
 }

 #proy3 {
    position: relative;
    height: 400px;
    background-image: url("450_1000.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
 }

.c{
    position: relative;
    padding: 20px;
    word-wrap:break-word;
}




#remain .c h2{
    position: absolute;
    top: -30px;
    right: 10px;
    margin: 0;
    padding: 0;
    font-size: 5em;
    color: rgba(221, 109, 161, 0.849);
    transition: 0.5s;

}

#proy2 .c h2{
    right: 0px;
}

#proy1:hover .c h2
{
    top:-90px;
}

#proy2:hover .c h2
{
    top:-70px;
}

#proy3:hover .c h2
{
    top:-100px;
}
 
#remain p{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}


#about
{
    display: flex;
    padding: 20px;
    align-items: center;
}

.info
{
flex:1;
background-color: white;
padding: 20px;
}
#foto
{
    flex:1;
    margin-left: 20px;
}

#skills
{
    background-color: white;
    width: 100%;

}

#skills h1
{
    padding-left: 40px;
}



#skills li 
{
    padding-inline-start: 8%;
    background-color:white;
}

#skills a
{
color: #333;
}

.barras
{
    height: 50px;
    width: 100%;
    background-color: pink;
    display: flex;
}
.ocho{
    flex:1;
    display:grid;
    grid-template-columns: repeat(10, 1fr)
}

.ocho2
{
    grid-column: 1/8;
    background-color: black;
}

.cinco2
{
    grid-column: 1/6;
    background-color: black;
}

#uno2
{
    grid-column: 1/2;
    background-color: black;
}



.cinco{
    flex:1;
    display:grid;
    grid-template-columns: repeat(10, 1fr)
}

#cien{
    flex:1;
    background-color: #000;


}

#uno{
    flex:1;
    display:grid;
    grid-template-columns: repeat(10, 1fr)
}


.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}